ActionBar{
    background-color: white;
    color: black;
}

Page{
    background-color: rgb(22, 0, 43);
}

.btn-primary{
    background-color: black;
    margin-top: 25px;
    border-radius: 100 100 100 100;
    font-size: 14px;
    height: 35;
    width: 70;
    margin-left: 305px;
}

.btn-primary-transparent{
    color: white;
    background-color: rgb(22, 0, 43);
    border-radius: 100 100 100 100;
    font-size: 20px;
    height: 60px;
    margin-right: 50px;
    margin-left: 50px;
}

TextField{
    placeholder-color: #A8A8A8;
    background-color: rgb(22, 0, 43);
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 100 100 100 100;
    margin-bottom: 10px;
}

Label{
    margin-left: 25px;
    font-size: 15px;
    color: black;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}